
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*estilo header*/
header {
    background-color:#FED766 ;
    display: flex;
    justify-content: space-between ;
    align-items: end;
    
}
a {
    text-decoration: none;
    font-weight: 700;
    color: black; 
}

body{
    font-family: 'Poppins';
}

.logo{
    width: 250px;
    height: 90px;
}

.menu:hover{
    background-color: #c5a74e;
    text-decoration: underline;
    
    
}
/*estilos contenido principal*/

main {
    background-color: #ffffff;   
}

ul {
    list-style-type: none;
}


h2 {
    margin:  3px 0;
    
}

ul li {
    display: inline-block;
    margin: 10px;
}


.centrado {
    font-family: 'Poppins', sans-serif;
    text-align: center;

}

.tittle { 
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
    padding-top: 10px;
}

/* estilos index */
.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.news-cards{
    display: flex;
    flex-wrap: wrap;
   
}

.img {
    width: 100%;
    height: 220px;
    object-fit: contain;
}

.card {
    width: 350px;
    border: 3px solid #000;
    border-radius: 3% 3% 3% 3%;
    margin: 20px 20px;

}

.card h3, p {
    text-align: center;
    margin: 6px 4px;


}

/* estilos productos */

.product-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product-car{
    display: flex;
    flex-wrap: wrap;
}

.img-1{
    width: 100%;
    height: 220px;
    object-fit: contain;
}

.car {
    width: 350px;
    border: 3px solid #000;
    border-radius: 3% 3% 3% 3%; 
    margin: 20px 40px;

}

.car h3{
    text-align: center;
    margin: 6px 4px;
}

.product-2{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
}

.product-tri{
    display: flex;
    flex-wrap: wrap;
}

.img-2{
    width: 100%;
    height: 220px;
    object-fit: contain;
}

.tri {
    width: 350px;
    border: 3px solid #000;
    border-radius: 3% 3% 3% 3%; 
    margin: 20px 40px;

}

.tri h3{
    text-align: center;
    margin: 6px 4px;
}

.product-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product-jardin{
    display: flex;
    flex-wrap: wrap;
}

.img-3{
    width: 100%;
    height: 220px;
    object-fit: contain;
}

.jardin {
    width: 350px;
    border: 3px solid #000;
    border-radius: 3% 3% 3% 3%; 
    margin: 20px 40px;

}

.jardin h3{
    text-align: center;
    margin: 6px 4px;
}

.sub-1{
    margin-left: 20px;
}

/* estilos quienes-somos */

.questions{
    text-align: center;
    border: 3px solid #000;
    border-radius: 3% 3% 3% 3%;
    margin: 20px 35px 20px 35px;
    padding: 20px;
}

.subtittle{
    margin-top: 30px;
    margin-bottom: 10px;
}

/* preguntas-frecuentes */

.frecuente{
    text-align: center;
    border: 3px solid #000;
    border-radius: 3% 3% 3% 3%;
    margin: 20px 35px 20px 35px;
    padding: 30px;

}

.texto-frecuente{
    margin-top: 10px;
    padding: 2px;
    
}

/* estilos-contacto */
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-left: 5px;
}

.contacto-1{
    display: flex;
    margin: 10px;

}

.img-4{
    width: 25px;
    height: 25px;
}

/* estilos-ubicacion */

.map{
    width: 800px;
    height: 600px;
    padding-left: 40px;
    padding-bottom: 30px;

}

/*estilo footer*/
footer {
    display: flex;
    justify-content:space-between;
    background-color:#FED766 ;
    padding: 20px;
 
}

.text{
    text-align: left;
}

.icons{
    display: flex;
    justify-content: flex-end;
    width: 35px;
    height: 35px;
}
    
.redes{
    margin: 0 3px;
}    
